input/
models/*
output/
runs/
stubs/*
training/people_and_volleyball-1
training/volleyball-court-keypoints-1
training/Players-Dataset-4
training/yolov5mu.pt
training/yolov8m.pt
training/yolo11n.pt
training/yolov8s-pose.pt
yolov8l.pt
trackers/tracker_test.py
.venv/
2.png
image1.jpg
output_with_boxes.png
